.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.row img {
  width: 65%;
}

.row button {
  margin-bottom: 1rem;
}

.col-tenth {
  width: 10%;
}

.text-center {
  text-align: center;
}

.mini-pokemon img {
  width: 100%;
  margin: 0 2.5%;
}

.quiz-container img {
  width: 70%;
}

.logo img {
  width: 300px;
  margin: 1rem 0;
}

.logo img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.mini-pokemon img:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: contrast(200%);
}

.pokedex-first-half,
.pokedex-second-half {
  width: 50%;
}

.one-fifth {
  width: 50%;
}

.screen {
  overflow-y: auto;
}

.mini-pokemon-title {
  color: rgb(0, 81, 255);
  padding: none;
  margin: 5px;
}

.pokedex-submit button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 40%;
  }

  .row img {
    width: 50%;
  }

  .row button {
    margin: 0.5rem;
  }

  .mini-pokemon img {
    width: 100%;
    margin: 0 2.5%;
  }

  .quiz-container img {
    width: 50%;
  }

  .one-fifth {
    width: 20%;
  }

  .logo img {
    width: 350px;
  }

  #instructions img {
    width: 50%;
    min-height: 30rem;
  }
}
