.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.row img {
  width: 65%;
}

.row button {
  margin-bottom: 2rem;
}

.col-tenth {
  width: 10%;
}

.text-center {
  text-align: center;
}

.mini-pokemon img {
  width: 100%;
  margin: 0 2.5%;
}

.pokedex-first-half,
.pokedex-second-half {
  width: 50%;
}

.one-fifth {
  width: 50%;
}

.mini-pokemon-title {
  color: rgb(0, 81, 255);
  padding: none;
  margin: 5px;
  width: 80%;
}

.logo img {
  width: 35%;
  max-height: 10rem;
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 40%;
  }

  .logo img {
    width: 35%;
    max-height: 25rem;
    margin: 1rem 0;
  }

  .row img {
    width: 50%;
  }

  .row button {
    margin-bottom: 0.5rem;
  }

  .mini-pokemon img {
    width: 80%;
    margin: 0 2.5%;
  }

  .quiz-container img {
    width: 50%;
  }

  .one-fifth {
    width: 20%;
  }
}
