header {
  background-color: #ff5a6e;
}

body {
  background-color: #fbfbfc;
  font-family: 'Russo One', sans-serif;
  color: #ff5a6e;
}

.animated-background {
  background: url('../images/square.png') repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 1.5s infinite;
  -moz-animation: bg-scrolling-reverse 1.5s infinite;
  -o-animation: bg-scrolling-reverse 1.5s infinite;
  animation: bg-scrolling-reverse 1.5s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

.faster-animated-background {
  background: url('../images/square.png') repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.2s infinite;
  -moz-animation: bg-scrolling-reverse 0.2s infinite;
  -o-animation: bg-scrolling-reverse 0.2s infinite;
  animation: bg-scrolling-reverse 0.2s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

.pokemon-font {
  font-family: 'Joti One', cursive;
  color: #ffcb04;
  text-shadow:
    4px 4px 0 #39569e,
    -2px -2px 0 #39569e,
    2px -2px 0 #39569e,
    -2px 4px 0 #39569e,
    2px 2px 0 #39569e;
}

.nav h1 {
  font-size: 1.75rem;
}

.nav h2 {
  margin: 0.25rem 0;
  padding: 1rem 0;
}

.nav a {
  padding: 0.3rem 0;
  color: #ffcb04;
  text-decoration: none;
}

.nav {
  justify-content: space-between;
}

button {
  font-family: 'Russo One', sans-serif;
  border: none;
  background-color: #7de0ff;
  color: white;
  font-size: 1.75rem;
  padding: 1rem;
  width: 75%;
  margin: 1rem 0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.379);
  border-radius: 5rem;
  box-shadow: 1px 1px 4px -1px rgba(107, 79, 79, 0.65);
  -webkit-box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.65);
}

button:hover {
  cursor: pointer;
  background-color: rgb(100, 185, 211);
  transform: scale(1.05);
}

.modal-background {
  width: 100%;
  min-height: -webkit-fill-available;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  background-color: white;
  width: 80%;
  min-height: 55%;
  margin: 10% auto;
  border-radius: 5rem;
  border: 10px solid #ff5a6e;
}

.modal-text {
  margin-top: 2rem;
}

.modal-text input {
  width: 85%;
  height: 3rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  text-align: center;
  color: rgb(58, 58, 58);
  outline-width: 0;
}

.modal button {
  width: 30%;
  margin: 3rem 0;
}

.progress-circles {
  width: 100%;
  padding: 0 2% 3%;
  border: 2px solid rgba(0, 0, 0, 0.392);
  border-radius: 5rem;
  height: 2rem;
  background-color: white;
  padding-top: 0.5rem;
  margin-top: 2%;
  color: #7de0ff;
  font-size: 1rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.379);
  box-shadow: 1px 1px 4px -1px rgba(107, 79, 79, 0.65);
  -webkit-box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.65);
}

.blueBackground {
  background-color: #7de0ff;
}

.bar {
  margin-top: 0.5rem;
  border: 1px solid black;
  height: 0.75rem;
  width: 100%;
  border-radius: 1rem;
  background-color: white;
}

.in {
  animation: fill 10s linear 1 forwards;
  height: 100%;
  background-color: #00ff57;
  border-radius: 1rem;
}

@keyframes fill {
  0% {
    width: 100%;
  }

  50% {
    background-color: yellow;
  }

  100% {
    width: 0%;
    background-color: red;
  }
}

.silhouette {
  filter: brightness(0);
  -webkit-user-drag: none;
}

.quiz-container button {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.icon {
  height: 18px;
  max-width: 18px;
}

.trainer-data {
  margin-top: 1rem;
  border: 0.2rem solid black;
  border-radius: 5rem;
  background-color: white;
}

.fa-trash-alt:hover {
  transform: scale(1.1);
  color: rgb(194, 48, 65);
  cursor: pointer;
}

.justify-center-self {
  justify-self: center;
}

.pokedex-pokemon-image h1 {
  margin-top: 5rem;
  font-size: 1.75rem;
  color: rgb(11, 103, 98);
}

.type h1 {
  padding: 0;
  margin: 0;
}

#past-games h1 {
  margin: 5px;
}

.rotom {
  background-color: #ff5a6e;
}

.screen-border {
  width: 100%;
  height: 30rem;
  background-color: whitesmoke;
  border-radius: 1.5rem;
  border-bottom-left-radius: 5rem;
  border: 0.5rem solid black;
}

.screen {
  width: 90%;
  height: 25rem;
  background-color: rgb(140, 240, 238);
  align-self: center;
  border-radius: 1rem;
  border-bottom-left-radius: 5rem;
  border: 0.25rem solid black;
}

.search {
  margin-top: 10%;
  width: 50%;
}

.pokedex-buttons {
  width: 50%;
  position: relative;
}

.dpad-top {
  position: absolute;
  width: 15%;
  height: 50%;
  background-color: black;
  margin-top: 20%;
  margin-left: 25%;
  z-index: 1;
  border-bottom: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.dpad-left {
  position: absolute;
  width: 15%;
  height: 50%;
  background-color: black;
  margin-top: 35%;
  margin-left: 11%;
  border-right: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.dpad-mid {
  position: absolute;
  width: 15%;
  height: 50%;
  background-color: black;
  margin-top: 35%;
  margin-left: 25%;
}

.dpad-right {
  position: absolute;
  width: 15%;
  height: 50%;
  background-color: black;
  margin-top: 35%;
  margin-left: 40%;
  border-left: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.dpad-bottom {
  position: absolute;
  width: 15%;
  height: 50%;
  background-color: black;
  margin-top: 50%;
  margin-left: 25%;
  border-top: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.pokedex-green-button {
  position: absolute;
  width: 20%;
  height: 55%;
  background-color: rgba(65, 176, 18, 0.845);
  border-radius: 50%;
  margin-left: 90%;
  margin-top: 20%;
  border: 1px black solid;
}

.pokedex-blue-button {
  position: absolute;
  width: 20%;
  height: 55%;
  background-color: rgba(85, 151, 222, 0.845);
  border-radius: 50%;
  margin-left: 70%;
  margin-top: 40%;
  border: 1px black solid;
}

.pokedex-green-button:hover {
  background-color: rgb(40, 69, 12);
}

.pokedex-blue-button:hover {
  background-color: rgb(7, 59, 155);
}

.search input {
  text-align: center;
  font-size: 1.25rem;
  outline-width: 0;
  height: 3rem;
  border-radius: 15rem;
  background-color: rgb(146, 230, 146);
  width: 100%;
}

.pokedex-submit {
  position: absolute;
  margin-left: -50%;
  margin-top: 40%;
  width: 60%;
}

.pokedex-submit button {
  background-color: rgb(74, 174, 228);
  border: 2px solid black;
  font-size: 1.5rem;
}

.pokedex-submit button:hover {
  background-color: rgb(20, 95, 135);
}

.pokedex-pokemon-image {
  width: 100%;
}

.blue-font {
  color: rgb(74, 174, 228);
}

.light-background {
  background-color: rgb(243, 244, 235);
  padding: 1.25rem;
  margin: 1rem;
}

#pokedex {
  font-size: 1rem;
  color: black;
}

#pokedex img {
  max-width: 35%;
  margin-bottom: 1rem;
  margin-right: 3rem;
}

li {
  list-style: none;
  color: rgb(11, 103, 98);
  margin-left: 2rem;
}

ul {
  border: 0.4rem solid rgba(11, 103, 98, 0.427);
  border-radius: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  position: relative;
  bottom: 5rem;
}

.type {
  margin-top: 1rem;
}

#instructions img {
  width: 45%;
}

.type-color {
  border: 1px solid black;
  color: black;
  font-size: 0.75rem;
  width: 80%;
  margin-left: 2rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.normal {
  background-color: rgb(255, 255, 255);
}

.fight {
  background-color: rgb(140, 37, 0);
  color: white;
}

.flying {
  background-color: rgb(159, 119, 159);
}

.poison {
  background-color: purple;
  color: white;
}

.ground {
  background-color: rgb(232, 168, 100);
}

.rock {
  background-color: rgb(126, 74, 19);
}

.bug {
  background-color: rgb(105, 171, 40);
}

.ghost {
  background-color: rgb(108, 59, 136);
}

.steel {
  background-color: silver;
}

.fire {
  background-color: rgb(211, 76, 35);
}

.water {
  background-color: steelblue;
}

.grass {
  background-color: rgb(38, 152, 38);
}

.electric {
  background-color: rgb(252, 252, 36);
}

.psychic {
  background-color: rgb(187, 90, 107);
}

.ice {
  background-color: rgb(98, 226, 255);
}

.dragon {
  background-color: rgb(95, 30, 247);
}

.dark {
  background-color: rgb(48, 46, 46);
  color: white;
}

.fairy {
  background-color: pink;
}

.lds-dual-ring {
  display: inline-block;
  position: absolute;
  width: 400px;
  height: 400px;
  margin-top: 5rem;
  margin-left: 4rem;
}

.screen .lds-dual-ring {
  margin-top: 1rem;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 320px;
  height: 320px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.screen::-webkit-scrollbar {
  width: 0;
}
